@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.mobileSidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: colors.$black;
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  @include breakpoint.mq(md) {
    max-width: 300px;
    width: 80%;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 50px;

    .menuItem,
    .serviseTitle {
      text-decoration: none;
      color: colors.$white;
      @include typography.text-28-400;
      padding: 8px 24px;
      cursor: pointer;
    }
  }
}

.open {
  right: 0;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  span {
    font-size: 40px;
    color: colors.$white;
  }
}

.serviseTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flipped {
  transform: rotate(180deg);
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  padding-left: 20px;

  a {
    text-decoration: none;
    color: colors.$white;
    padding: 8px 24px;
    cursor: pointer;
    @include typography.text-20-400;
  }
}

.elipse {
  width: 470px;
  height: 492.693px;
  flex-shrink: 0;
  border-radius: 492.693px;
  background: rgba(173, 93, 211, 0.4);

  filter: blur(300px);
}
