@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  min-height: 320px;
  border-radius: 32px;
  border-radius: 32px;
  background: colors.$brown;
  margin: 0 4px;

  @include breakpoint.mq(xl) {
    flex-direction: row;
    justify-content: space-between;
  }

  .image {
    height: fit-content;
    @include breakpoint.mq(xl) {
      height: revert-layer;
    }
  }

  .tags {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    @include typography.text-14-600;
    color: colors.$description;

    @include breakpoint.mq(md) {
      flex-direction: row;
      gap: 32px;
      align-items: center;
      margin-left: 24px;
    }

    .date {
      padding-left: 27px;
      background-image: url("/assets/images/svg/calendar.svg");
      background-repeat: no-repeat;
    }
    .time {
      padding-left: 27px;
      background-image: url("/assets/images/svg/clock.svg");
      background-repeat: no-repeat;
    }

    .hashtag {
      padding-left: 27px;
      background-image: url("/assets/images/svg/hashtag.svg");
      background-repeat: no-repeat;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
  }

  .textData {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include breakpoint.mq(md) {
      margin-left: 24px;
    }

    .title {
      @include typography.title-24-700;
      color: colors.$white;
      max-height: 76px; // Set the maximum height for 2 lines
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; // Number of lines to show
      -webkit-box-orient: vertical;

      @include breakpoint.mq(md) {
        // @include typography.title-28-700;
        max-height: none;
        overflow: unset;
        display: -webkit-box;
        -webkit-line-clamp: all;
        -webkit-box-orient: unset;
      }

      @include breakpoint.mq(lax) {
        @include typography.title-36-700;
      }
    }

    .description {
      @include typography.text-16-400;
      color: colors.$description;
    }
  }
}
