@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.relative {
  overflow-x: hidden;
  height: min-content;
  color: colors.$white;
}

.title {
  display: flex;
  align-items: center;
  @include typography.title-24-700;
  color: colors.$white;
  height: 62px;

  @include breakpoint.mq(md) {
    @include typography.title-24-700;
    margin-bottom: 24px;
    max-width: 80%;
    height: 100%;
  }

  @include breakpoint.mq(lax) {
    @include typography.heading-44-600;
    margin-bottom: 48px;
    // max-width: 690px;
    max-width: 80%;
    height: 100%;
  }
}