@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.blogPostWrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: colors.$blog;

  @include breakpoint.mq(sm) {
    max-width: 650px;
    margin: 0 auto;
  }

  section {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      @include typography.title-32-700;
    }

    h2.subparagraph {
      @include typography.text-24-600;
    }


    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    ol {
      list-style-type: decimal;
      list-style: red;
    }
  }

  .subparagraphList {
    display: flex;
    flex-direction: column;
    gap: 16px;


    .subparagraph {
      @include typography.text-18-400;
    }
  }



  .paragraph {
    @include typography.text-18-400;
  }

  .boldParagraph {
    @include typography.text-18-700;
  }
}