@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";
.wrapper {
  background-color: colors.$black;
  padding: 0 120px;
  width: 100%;

  .caseStudiesList {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 120px 0;
  }
}
