@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.wrapper {
  background-color: colors.$black;
  padding: 0 20px 20px;
  width: 100%;

  @include breakpoint.mq(lax) {
    padding: 0 120px 120px;
  }

  .caseStudiesList {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 120px 0;
  }
}
