@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

@keyframes tickerAnimation {
  0% {
    transform: translate3d(0, 0, 1px);
  }
  100% {
    transform: translate3d(-100%, 0, 1px);
  }
}

// @keyframes to-left {
//   0% {
//     transform: translate3d(0, 0, 1px);
//   }

//   100% {
//     transform: translate3d(-100%, 0, 1px);
//   }
// }

.container {
  display: flex;
  align-items: center;
  background-color: colors.$brown;
  // overflow: hidden;
  .title {
    color: colors.$white;
    @include typography.text-16-400;
    min-width: max-content;
    background-color: colors.$brown;
    padding: 12px;

    @include breakpoint.mq(lax) {
      @include typography.title-20-700;
      padding: 16px 16px 16px 40px;
      // min-width: max-content;
    }
  }
}

.wrapper {
  overflow: hidden;
  padding: 12px;
  background-color: colors.$brown;
  height: 100%;
  @include breakpoint.mq(lax) {
    padding: 16px 40px;
  }
}

.ticker {
  white-space: nowrap;
  animation: tickerAnimation 50s linear infinite both running;
  // animation: tickerAnimation 50s linear infinite;
  color: colors.$white;
  width: 100%;
  @include typography.text-16-400;
  @include breakpoint.mq(lax) {
    @include typography.text-20-400;
  }
}
