@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

@keyframes tickerAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.container {
  display: flex;
  align-items: center;
  background-color: colors.$brown;
  // overflow: hidden;
  .title {
    color: colors.$white;
    @include typography.text-16-400;
    width: 100em;
    background-color: colors.$brown;
    padding: 12px;

    @include breakpoint.mq(md) {
      @include typography.title-20-700;
      padding: 16px 0 16px 40px;
      width: 36em;
    }
  }
}

.wrapper {
  overflow: hidden;
  padding: 12px;
  background-color: colors.$brown;
  height: 100%;
  @include breakpoint.mq(md) {
    padding: 16px 40px;
  }
}

.ticker {
  white-space: nowrap;
  animation: tickerAnimation 50s linear infinite;
  color: colors.$white;
  @include typography.text-16-400;
  @include breakpoint.mq(md) {
    @include typography.text-20-400;
  }
}
