@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.wrapper {
  // padding: 32px;
  border-bottom: 1px solid colors.$description;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @include typography.text-18-400;
    color: colors.$white;
    cursor: pointer;

    & svg {
      max-width: none;
      margin-left: 16px;
    }
  }
}

.description {
  padding-bottom: 32px;
  @include typography.text-16-400;
  color: colors.$description;
  cursor: pointer;
}

// .descriptionList {
//   display: flex;
//   flex-direction: column;
//   gap: 8px;
// }

.descriptionListTitle {
  @include typography.text-16-700;
  color: colors.$description;
}

.descriptionListDescription {
  @include typography.text-16-400;
  color: colors.$description;
  margin-bottom: 24px;
}
