@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";
.sliderContainer {
}

.memberList {
  padding: 40px 20px;
  background-color: colors.$black;
  overflow-x: hidden;
  @include breakpoint.mq(lax) {
    padding: 120px;
  }
}
