@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";
.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: rgb(0, 0, 0);

  padding: 40px 52px;

  @include breakpoint.mq(lax) {
    padding: 80px 120px 120px;
    gap: 24px;
    background-color: colors.$black;
  }

  .footerWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include breakpoint.mq(lax) {
      flex-direction: row;
      justify-content: space-between;
    }

    .rights {
      display: flex;
      flex-direction: column;
      gap: 24px;
      span {
        @include typography.text-16-400;
        color: colors.$white;
      }
    }

    .solutions,
    .company {
      h1 {
        @include typography.title-24-700;
        color: colors.$white;
        margin-bottom: 24px;
      }
    }

    .usefulLinks {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .link {
        @include typography.text-16-400;
        color: colors.$white;
      }
    }
  }

  .socialLinks {
    display: flex;
    gap: 33px;
  }
}
