@use "@styles/typography.scss";
@use "@styles/colors.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  border-radius: 32px;
  border-radius: 32px;
  background: colors.$brown;

  .tags {
    display: flex;
    gap: 32px;
    @include typography.text-14-600;
    color: colors.$description;
    margin-left: 24px;

    .date {
      padding-left: 27px;
      background-image: url("/assets/images/svg/calendar.svg");
      background-repeat: no-repeat;
    }
    .time {
      padding-left: 27px;
      background-image: url("/assets/images/svg/clock.svg");
      background-repeat: no-repeat;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .textData {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 24px;

    .title {
      @include typography.title-36-700;
      color: colors.$white;
    }

    .description {
      @include typography.text-16-400;
      color: colors.$description;
    }
  }
}
