@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.facts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px;
  gap: 20px;
  width: 100%;

  @include breakpoint.mq(lax) {
    padding: 72px 70px;
    justify-content: space-between;
    // background-color: colors.$brown;
  }

  .title {
    @include typography.title-32-600;
    color: colors.$white;
    text-align: center;
    margin-bottom: 20px;
  }

  .description {
    @include typography.text-16-400;
    color: colors.$description;
    // max-width: 556px;
    text-align: center;
  }

  .factsList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 28px;

    @include breakpoint.mq(lax) {
      gap: 120px;
      flex-direction: row;
    }

    .factItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .number {
        @include typography.title-36-700;
        color: colors.$primary;

        @include breakpoint.mq(lax) {
          @include typography.heading-64-600;
        }
      }

      .content {
        @include typography.text-16-400;
        color: colors.$white;
        text-align: center;

        @include breakpoint.mq(lax) {
          @include typography.text-24-600;
        }
      }
    }
  }
}