@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";
.sliderContainer {
  // display: flex;
  // flex-direction: row;
  // gap: 20px;
}

.memberList {
  padding: 120px;
  background-color: colors.$brown;
  overflow-x: hidden;
  //   display: flex;
  //   flex-direction: row;
  //   gap: 20px;
}
