$black: rgba(0, 0, 0, 1);
$black-black: rgba(19, 19, 19, 1);
$brown: rgba(28, 24, 37, 1);
$dark-purpule: rgba(95, 81, 222, 1);
$disables-purpule: rgba(61, 25, 111, 1);
$description: rgba(131, 129, 142, 1);
$light-purple: rgba(241, 231, 249, 1);
$primary: rgba(125, 86, 231, 1);
$white: rgb(242, 243, 242);
$disable: rgb(74, 73, 80);
$white-white: rgb(255, 255, 255);

$background-start-rgb: rgba(95, 81, 222, 1) 10%;
$background-end-rgb: rgba(173, 93, 211, 1) 30%;
