@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";

.container {
  width: 100%;
  // padding: 40px 0;
  background-color: black;

  @include breakpoint.mq(md) {
    padding: 120px 0;
  }
}
