@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";
.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  // align-items: center;
  padding-top: 20px;
  width: 100%;
  justify-content: center;

  @include breakpoint.mq(lax) {
    padding: 120px 0;
    flex-direction: row;
    gap: 400px;
    
  }
}
.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;

  .serviceTitle {
    color: colors.$dark-purpule;
    @include typography.title-14-400;
  }

  .serviceSubtitle {
    color: colors.$white;
    @include typography.heading-44-600;

    margin-bottom: 20px;
    @include breakpoint.mq(lax) {
      max-width: none;
      margin-bottom: 0;
      max-width: 80%;
    }
  }

  .serviceDescription {
    color: colors.$description;
    @include typography.text-16-400;
  }
}
