@use "/styles/typography.scss";
@use "/styles/colors.scss";
@use "/styles/breakpoint.scss";
.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 20px;
  width: 100%;

  @include breakpoint.mq(lax) {
    padding: 120px 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;

  .serviceTitle {
    color: colors.$dark-purpule;
    @include typography.title-14-400;
  }

  .serviceSubtitle {
    color: colors.$white;
    @include typography.heading-44-600;
    max-width: 60%;
    margin-bottom: 20px;
    @include breakpoint.mq(lax) {
      max-width: none;
      margin-bottom: 0;
    }
  }

  .serviceDescription {
    color: colors.$description;
    @include typography.text-16-400;
  }
}
